name: Default Workflow

on:
  push:
    branches-ignore:
      - main
  pull_request:
    types: [opened, reopened, synchronize]

permissions:
  pull-requests: write

jobs:
  build:
    runs-on: ubuntu-latest
    
    steps:
      - name: Checkout code
        uses: actions/checkout@v6
    
      - name: Install dependencies
        run: sudo apt-get update && sudo apt-get install -y cmake build-essential gcovr
      
      - name: Create build directory
        run: mkdir -p build
      
      - name: Configure CMake
        run: cmake -S . -B build -G Ninja -DCMAKE_BUILD_TYPE=Debug -DCMAKE_CXX_FLAGS="--coverage" -DCMAKE_C_FLAGS="--coverage"
      
      - name: Build
        run: cmake --build build
      
      - name: Run unit tests
        run: (cd build && ./tests/math-tests)

      - name: Generate coverage report
        run: gcovr --root . --filter src/ --cobertura cobertura-coverage.xml build/

      - name: Code Coverage Summary
        uses: irongut/CodeCoverageSummary@v1.3.0
        with:
          filename: cobertura-coverage.xml
          badge: true
          fail_below_min: true
          format: markdown
          hide_branch_rate: false
          hide_complexity: true
          indicators: true
          output: both
          thresholds: '60 80'

      - name: Add Coverage PR Comment
        uses: marocchino/sticky-pull-request-comment@v2
        if: github.event_name == 'pull_request'
        with:
          recreate: true
          path: code-coverage-results.md
