name: Build

on:
  push:
    branches: [ main ]
  pull_request:
    branches: [ main ]

jobs:
  build:
    runs-on: ubuntu-latest
    
    steps:
      - name: Checkout code
        uses: actions/checkout@v6
    
      - name: Install dependencies
        run: sudo apt-get update && sudo apt-get install -y cmake build-essential
      
      - name: Create build directory
        run: mkdir -p build
      
      - name: Configure CMake
        run: cmake -S . -B build -G Ninja
      
      - name: Build
        run: cmake --build build
      
      - name: Run unit tests
        run: (cd build && ./tests/math-tests)
